 {% extends "base/base.html" %}
 {% load static %}
 {% block content%}
      <div class="row mt-4 ">
        <div class="col ">
          {% for item in listTask %}
            <h2>{{listTask.title}} </h2>
          {%endfor%}
         
          <div class="inline"> 
            <form class="inline" action="{% url 'main:addtodo' %}" method="POST">
           
            <input type="text" name="content" class="form-control mb-2 mr-sm-2"  placeholder="Add to do list ...." required>
        
                <div class="form-row align-items-center">
                  <div class="col-auto my-1">
                    
                    <select class="custom-select mr-sm-2" name="idTask" required>
                      <option selected value="">Choose...</option>
                      {% for item in listTask%}
                      <option value='{{item.id}}'>{{item.title}}</option>
                      {%endfor%}
                    </select>
                  </div>
    
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

                {%for item in listTask%}
                <a class="dropdown-item" href="{% url 'main:indexSpecificTask' item.id %}">{{item.title}}</a>
                {% endfor%}
              
              </div>
              
            </div>
            <button type="submit" class="btn btn-success mb-2">ADD</button>
          </form>
          </div>
          

        </div>
      </div>
      <div class="row mt-4">
        <div class="col"> 
        
                 <h3 class="mt-4">{{listCurrectTask.title}}</h3>  
               
          <ul class="list-group" >
           
                
                 {% for item in listSpecificTask %}
                    {%if not item.is_completed %}

                    <a href="{% url 'main:edit' item.id %}">
                    <li class="list-group-item">{{item.text}}
                      <div class="float-right">
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                          <div class="btn-group mr-2" role="group" aria-label="First group">
                          <a href="{% url 'main:completetodo' item.id %}"><button type="submit" class="btn btn-warning mr-sm-3 " >Complete</button></a>
                        <form action="{% url 'main:deletetodo' item.id %}" method="POST">
                        <button type="submit" class="btn btn-danger">Remove</button>
                        </form>
                          </div>
                          
                        </div>
                      
                      </div><br><span >&nbsp;in {{item.listTask.title}}</span>
                      
                    </li>  
                    </a>
                    {% endif %}
                  {% endfor %}
                  
          </ul>
         
        </div>
      </div>
      <h3 class="mt-4">Work Finished</h3>    
      <div class="row mt-4">
        <div class="col">
          <ul class="list-group">
            {% for obj in listSpecificTask %}
                  {%if obj.is_completed %}
                  <li class="list-group-item"><del>{{obj.text}}</del>
                    <div class="float-right">
                      <div class="btn-toolbar " role="toolbar" aria-label="Toolbar with button groups">
                      <form action="{% url 'main:undo' obj.id %}" method="POST">
                      <button type="submit" class="btn btn-warning">Undo</button>
                      </form>
                      <form action="{% url 'main:deletetodo' obj.id %}" method="POST">
                      <button type="submit" class="btn btn-danger">Remove</button>
                      </form>
                      </div>
                    </div> <br><span >&nbsp;in {{obj.listTask.title}}</span>
                  </li>
                 
                  {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      
   

    
       
 {% endblock %} 