 {% extends "base/base.html" %}
 {% load static %}
 {% block content%}
      <div class="row mt-4 ">
        <div class="col ">
          <h2>Công Việc</h2>
          <div class="inline"> 
            <form class="inline" action="{% url 'main:addtodo' %}" method="POST">
           
            <input type="text" name="content" class="form-control mb-2 mr-sm-2"  placeholder="Thêm công việc ...." required>
            <div class="dropdown show">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown link
              </a>
              {% for item in todoItems %}
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">{{item.task_list.title}}</a>
               <a class="dropdown-item" href="#">tạo Mới</a>
              </div>
               {% endfor%}
            </div>
            <button type="submit" class="btn btn-success mb-2">Thêm</button>
          </form>
          </div>
          
         

        </div>
      </div>

      
      {% if lengthItem == 0  %}
      <h3 class="mt-4">Không có công việc cần làm</h3>
      {% elif lengthItem > 0  %}  
      
      <h3 class="mt-4">Có {{lengthItem}} việc cần làm : </h3>      
        <div class="row mt-4">
          <div class="col">
            <ul class="list-group">
              {% for item in todoItems %}
                    {%if not item.is_completed %}
                      <a href="{% url 'main:edit' item.id %}"><li class="list-group-item">{{item.text}}
                        <div class="float-right">
                          <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                            <a href="{% url 'main:completetodo' item.id %}"><button type="submit" class="btn btn-warning mr-sm-3 " >Hoàn Thành</button></a>
                          <form action="{% url 'main:deletetodo' item.id %}" method="POST">
                          <button type="submit" class="btn btn-danger">Xóa</button>
                          </form>
                            </div>
                            
                          </div>
                        
                        </div>
                        
                      </li>
                    </a>
                    {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endif %}
        
        {% if lengthItemCompleted > 0 %}
        <h3 class="mt-4">Có {{lengthItemCompleted}} đã hoàn thành: </h3>    
      <div class="row mt-4">
        <div class="col">
          <ul class="list-group">
            {% for item in todoItems %}
                  {%if item.is_completed %}
                  <li class="list-group-item"><del>{{item.text}}</del>
                    <div class="float-right">
                      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                      <form action="{% url 'main:undo' item.id %}" method="POST">
                      <button type="submit" class="btn btn-danger">Hoàn Tác</button>
                      </form>
                      </div>
                    </div>
                  </li>
                  {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
         {% endif %}
 {% endblock %} 