{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content%}


<div class="content-section">
    <div class="body-login">
        <form action="" method="post">
            {% csrf_token %}
          <a href="#"> <img src="{% static 'media/logo_transparent.png' %}" class="logo" alt="Demo logo"></a>
       <h1>Create new user</h1>
        <div class="input-group">
         {{form.username}}
          <label for="username">Username</label>
        </div>
        <div class="input-group">
            {{form.email}}
            <label for="password">Email</label>
          </div>
          <div class="input-group">
            {{form.fullName}}
            <label for="password">FullName</label>
          </div>
         <div class="input-group">
          {{form.password}}
          <label for="password">Password</label>
        </div>
        <div class="input-group">
            {{form.password2}}
            <label for="password">Confirmed Password</label>
          </div>
        
       <button type ="submit">Sign Up</button>
       <input type="hidden" name="next" value="{% url 'user:login' %}">
       <p>Have a account? <a href="{% url 'user:login' %}" class="signin">Log in</a></p>
     </form>
         </div>
</div>

{% endblock %} 